.body {
    margin-top: 5em ;
    border: 1px solid blue;
    /* height: 85vh; */
}

#aboutMe {
    border-bottom: 1px solid blueviolet;
}

@media only screen and (max-width: 512px) {
    .body {
        width: 100vw; 
    }
}