html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border: 1px solid black;
  /* padding: 1em; */
}


/* @media only screen and (max-width: 1024px){
  .App {
      width: 90%; 
      margin: auto; 
  }
} */

@media only screen and (max-width: 512px) {
  .App {
      width: 100vw;  
  }
}
